<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- SQL dialect -->
		<!-- <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
 -->    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.jdbc.batch_size">50</property>
		<property name="hibernate.order_inserts">true</property>
		<property name="hibernate.order_updates">true</property>
		<!-- <property name="current_session_context_class">thread</property> -->
		<!-- <property name="hbm2ddl.auto">create</property> -->
		<!-- <property name="hbm2ddl.import_files">/all_dml.sql</property> -->
		<!-- <property name="hbm2ddl.import_files_sql_extractor">org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor</property> --> 
		
		<!-- Tables -->
		<mapping resource="mappings/Property.hbm.xml"></mapping>
		<mapping resource="mappings/VenueURL.hbm.xml"></mapping>
		<mapping resource="mappings/User.hbm.xml"></mapping>
		<mapping resource="mappings/Event.hbm.xml"></mapping>
		<mapping resource="mappings/Occasion.hbm.xml"></mapping>
		<mapping resource="mappings/Venue.hbm.xml"></mapping>
		<mapping resource="mappings/VenueRaw.hbm.xml"></mapping>
		<mapping resource="mappings/city.hbm.xml"></mapping>
		<mapping resource="mappings/PageInfo.hbm.xml"></mapping>
		<mapping resource="mappings/Locality.hbm.xml"></mapping>
	</session-factory>
</hibernate-configuration>