/* Add here all your css styles (customizations) */

/* SignUp Form top border changed to purple  margin changed  to 40px*/

.reg-block {
	
	border-top: solid 2px #814fb5;
        
}
/* margin for signup block */
.reg-block-margin
{
margin: 0px auto;
}



/* SignUp Form top border logo-position*/

.reg-logo
{
   margin: 10px auto;

}

/*margin for login*/
.login-block-margin
{
margin: 40px auto;
}

/*user profile header css changes magin changed betwwen header container & it's bottom*/
.header >.header-bottom {
	display: table;
	margin-bottom: -10px;
}



/* Style for making faded background for search elements*/
.Search-background {
	left: 0;
	right: 0;
	bottom: -2px;
	padding: 12px 0;
	position: absolute;
	background: rgba(0,0,0,0.7);
}
.btn-u-search.btn-brd-search {
  
  padding: 3px 13px;
   
}

.font-white
{
text-decoration-color: white;

}

/* Style for aligning footer button of OTP Popup modal in registration page*/
.modal-footer>button
{
float: left;}

.btn-u.btn-u-default-otp {
   background: #E70A48;
}

/*Style for changing color of buttons from purple to maroon & vice verse onHover*/

.btn-u.btn-block:hover{
background:#E70A48
}

/*Style for search ICOn on Home Page Center*/
.btn-u-search-Center {
   border: 0;
   color: #fff;
   font-size: 14px;
   cursor: pointer;
   font-weight: 400;
   padding: 6px 13px;
   position: relative;
   background: #FD6161;
   white-space: nowrap;
   display: inline-block;
   text-decoration: none;
}

.btn-u-search-Center:hover
{
background:#E70A48;
}


