/* Add here all your css styles (customizations) */

/* SignUp Form top border changed to purple  margin changed  to 40px*/

.reg-block {
	
	border-top: solid 2px #7323DC;
        
}
/* margin for signup block */
.reg-block-margin
{
margin: 0px auto;
}



/* SignUp Form top border logo-position*/

.reg-logo
{
   margin: 10px auto;

}

/*margin for login*/
.login-block-margin
{
margin: 40px auto;
}

/*user profile header css changes magin changed betwwen header container & it's bottom*/
.header >.header-bottom {
	display: table;
	margin-bottom: -10px;
}



/* Style for making faded background for search elements*/
.Search-background {
	left: 0;
	right: 0;
	bottom: -2px;
	padding: 12px 0;
	position: absolute;
	background: rgba(0,0,0,0.7);
}
